*{
    text-align:center ;
    font-family: mont;
    font-weight: 500;
}

ul{
    list-style: none;
}

@font-face {
    font-family:mont ;
    src: url('./Montserrat-VariableFont_wght.ttf');
}

input{
    padding: 10px 50px;
    border-radius: 5px;
}

button{
    border: none;
    background-color: azure;
    color: red;
    float:right;
    font-weight: 800;
    position:relative;
    left:99px;
    padding:0px 10px;
    
}

li{
    background-color:azure;
    padding: 10px 100px;
    width:200px ;
    margin: 10px auto;
    height:fit-content;
    border-radius: 5px;
    overflow:auto;
    
}
li:hover{
    border: 1px solid black
}